body {
    font-family: "segoe ui", "verdana", "sans-serif";
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

#browser {
    position: absolute;
    top: 4em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#browser .browser-scroll-y {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #EEE;
}

#browser .browser-content {
    margin-left: 1em;
    margin-right: 2em;
    min-width: 10em;
}

#browser .browser-content.invisible {
    display: none;
}

#browser .browser-content a {
    display: block;
    white-space: nowrap;
}
