body {
    font-family: "segoe ui", "verdana", "sans-serif";
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

.invisible {
    display: none;
}

#browser {
    position: absolute; top: 4em; bottom: 1em; left: 1em; right: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 1.5em;
}

#browser .browser-scroll-y {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #EEE;
}

#browser .browser-content {
    margin-left: 1em;
    margin-right: 2em;
    min-width: 10em;
}

#browser #albums .browser-content {
    line-height: 75px;
}

#browser #albums .no-cover {
    display: inline-block;
    width: 75px;
    height: 75px;
    background: #CCC;
}

#browser .browser-content {
    white-space: nowrap;
}

#controls {
    position: absolute; top: 1em; left: 1em; right: 1em; height: 2em;
    background: #EEE;
}

#controls .button {
    display: inline-block;
    height: 100%;
    background: #CCC;
    text-align: center;
    line-height: 2em;
    padding-left: 1em; padding-right: 1em;
}
